html, body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffc0cb;
    font-weight: 300;
    line-height: 1.5;
  }
  
  body {
    font-family: 'Lato', sans-serif;
    background-color: #ffc0cb;
    background-position: center top;
    background-size: cover;
    margin: 0;
  }
  
  a {
    color: #204156;
    text-decoration: none;
  }
  
  .titlee {
    width:100%;
    text-align:center;
  }
  .titleee {
    display:inline-block;
    margin: 0 auto;
  }
  .page-title {
    text-align: center;
    font-weight: 100;
  }
  
  .page-description {
    border: 1px solid #000;
    margin: 2px;
    text-align: center;
    padding: 30px;
  }
  
  .gallery {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    justify-content: center;
  }
  
  .gallery-item {
    margin: 20px;
  }
  
  .gallery-item .thumbnail {
    border: 5px solid #f18b9c;
    max-width: 500px;
    max-height: auto;
    justify-content: center;
  }
  
  nav {
    background-color: #f18b9c;
  }
  
  nav li {
    display: inline;
    margin: 0;
    margin-right: 105px;
    padding: 0 10px;
    text-align: center;
  }
  
  nav ul {
    margin-left: 48px;
    padding: 8px 18px;
    display: inline;
  }
  
  .contact-btn {
    float: right;
  }
  
  .contact-btn a {
    cursor: pointer;
    margin-right: 30px;
    padding: 8px 18px;
    border: 1px solid #204156;
    position: relative;
  }
  
  .contact-btn a:active {
    top: 2px;
  }
  
  nav a {
    height: 60px;
    line-height: 60px;
    color: #204156;
    text-decoration: none;
  }
  